# Book Recommendations based on a book you liked

In [137]:
import pandas as pd

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ishikajohari/best-books-10k-multi-genre-data")

In [4]:
df = pd.read_csv('data/goodreads_data.csv', on_bad_lines='skip')
df.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [5]:
#find out what columns there are in the dataset
df.columns

Index(['Unnamed: 0', 'Book', 'Author', 'Description', 'Genres', 'Avg_Rating',
       'Num_Ratings', 'URL'],
      dtype='object')

In [136]:
df.rename(columns={"Unnamed: 0" : "Index"},inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   Book         10000 non-null  object
 2   Author       10000 non-null  object
 3   Description  9923 non-null   object
 4   Genres       10000 non-null  object
 5   Avg_Rating   10000 non-null  float64
 6   Num_Ratings  10000 non-null  object
 7   URL          10000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 625.1+ KB

In [7]:
df.describe()

        Unnamed: 0    Avg_Rating
count  10000.00000  10000.000000
mean    4999.50000      4.068577
std     2886.89568      0.335359
min        0.00000      0.000000
25%     2499.75000      3.880000
50%     4999.50000      4.080000
75%     7499.25000      4.260000
max     9999.00000      5.000000

In [8]:
#find out how many null entries exist
df.isnull().sum()

Unnamed: 0      0
Book            0
Author          0
Description    77
Genres          0
Avg_Rating      0
Num_Ratings     0
URL             0
dtype: int64

In [9]:
#drop entries with empty description and genre
df = df.dropna(subset = ['Description'])
df = df[df['Description'].str.strip() != ""]
df = df[df['Genres'].str.strip() != "[]"]
df.isnull().sum()

Unnamed: 0     0
Book           0
Author         0
Description    0
Genres         0
Avg_Rating     0
Num_Ratings    0
URL            0
dtype: int64

In [39]:
#function to search for the book the user gives as input
def book_search(user_input,dataframe):
    cleaned_input = user_input.lower().strip()
    matching_books = dataframe[dataframe['Book'].str.lower().str.contains(cleaned_input)]

    return matching_books

#test outcome of book search function
book_search(' harry potter',df)

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL,combined
1,1,Harry Potter and the Philosopher’s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...,"J.K. Rowling ['Fantasy', 'Fiction', 'Young Adu..."
15,15,Harry Potter and the Deathly Hallows (Harry Po...,J.K. Rowling,"Harry has been burdened with a dark, dangerous...","['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",4.62,"3,468,276",https://www.goodreads.com/book/show/136251.Har...,"J.K. Rowling ['Fantasy', 'Young Adult', 'Ficti..."
26,26,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,"Harry Potter, along with his best friends, Ron...","['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.58,"3,808,160",https://www.goodreads.com/book/show/5.Harry_Po...,"J.K. Rowling ['Fantasy', 'Fiction', 'Young Adu..."
33,33,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,It is the summer holidays and soon Harry Potte...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",4.56,"3,397,378",https://www.goodreads.com/book/show/6.Harry_Po...,"J.K. Rowling ['Fantasy', 'Young Adult', 'Ficti..."
36,36,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"It is the middle of the summer, but there is a...","['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",4.58,"3,048,651",https://www.goodreads.com/book/show/1.Harry_Po...,"J.K. Rowling ['Fantasy', 'Young Adult', 'Ficti..."
84,84,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,Ever since Harry Potter had come home for the ...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.43,"3,597,747",https://www.goodreads.com/book/show/15881.Harr...,"J.K. Rowling ['Fantasy', 'Fiction', 'Young Adu..."
306,306,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,Harry Potter is about to start his fifth year ...,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",4.50,"3,147,846",https://www.goodreads.com/book/show/2.Harry_Po...,"J.K. Rowling ['Fantasy', 'Young Adult', 'Ficti..."
2125,2125,Harry Potter and the Cursed Child: Parts One a...,J.K. Rowling,"The eighth story, nineteen years later...It wa...","['Fantasy', 'Fiction', 'Young Adult', 'Plays',...",3.51,"944,482",https://www.goodreads.com/book/show/29056083-h...,"J.K. Rowling ['Fantasy', 'Fiction', 'Young Adu..."
4073,4073,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,'You are sharing the Dark Lord's thoughts and ...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.61,"221,532",https://www.goodreads.com/book/show/1317181.Ha...,"J.K. Rowling ['Fantasy', 'Fiction', 'Young Adu..."

## Recommendations using TF-IDF

In [11]:
#combine text features into a single column
#weighting genre more results in better recommendations
df['combined'] = (df['Author'] + " " + (df['Genres'].astype(str) + " ")*2 + (df['Description'].astype(str)))

In [12]:
#vectorise the features
from sklearn.feature_extraction.text import TfidfVectorizer
vectoriser = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectoriser.fit_transform(df['combined'])
print(tfidf_matrix.shape)

(9000, 66695)

In [13]:
#compute the similarities using cosine similarity
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(tfidf_matrix)

In [14]:
from rapidfuzz import fuzz

#function to determine if two book titles are very similar
def is_too_similar (title1, title2,threshold = 50):
    return fuzz.token_set_ratio(title1.lower(), title2.lower()) >= threshold

In [15]:
#genre function to make sure that recommended books share at least one genre
def share_genres(book_genres, candidate_genres):
    set1 = set(g.strip().lower() for g in book_genres.split(','))
    set2 = set(g.strip().lower() for g in candidate_genres.split(','))
    return len(set1.intersection(set2)) > 0

In [16]:

#obtain list of similar books to input book
def get_similar_books(user_input):
    found_books = book_search(user_input,df)

    if found_books.empty:
        return None,None

    #pick first match
    idx = found_books.index[0]
    chosen_book = df.loc[idx]
    matrix_idx = df.index.get_loc(idx)

   #get similarity scores for chosen book
    similarity_scores = list(enumerate(similarity_matrix[matrix_idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    #get top similar book titles
    list_similar_books = []

    for i,score in similarity_scores:
        candidate_title = df.iloc[i]['Book']
        #filter out book itself
        if i == idx:
            continue
        #filter out too similar books (e.g. same book with slightly different title/different edition)
        if is_too_similar(candidate_title,chosen_book['Book']):
            continue
        #must share at least one genre
        if not share_genres(chosen_book['Genres'],df.iloc[i]['Genres']):
            continue

        list_similar_books.append(df.iloc[i])

        if len(list_similar_books) == 4:
            break

    similar_books = pd.DataFrame(list_similar_books)
    similar_books = similar_books.drop_duplicates(subset = 'Book')

    return similar_books, chosen_book

#main recommendation function
def recommendation():
    user_input = input("Please enter your book title: ")
    print("You entered: ", user_input)
    similar_books, chosen_book = get_similar_books(user_input)

    if similar_books is None or chosen_book is None:
        print(f"No books found matching '{user_input}'")
        return

    book_title = chosen_book['Book']
    print(f"Because you enjoyed {book_title}, you might like one of the following books:")
    for i in range(min(4,len(similar_books))):
        print(f"- {similar_books.iloc[i]["Book"]} by {similar_books.iloc[i]["Author"]}")

In [17]:
recommendation()

You entered:  harry potter

Because you enjoyed Harry Potter and the Philosopher’s Stone (Harry Potter, #1), you might like one of the following books:
- Quidditch Through the Ages by Kennilworthy Whisp
- The Magic Faraway Tree (The Faraway Tree, #2) by Enid Blyton
- Storm Front (The Dresden Files, #1) by Jim Butcher
- The Tales of Beedle the Bard by J.K. Rowling

The recommendations above were generated using a TF-IDF-based approach, which finds books that share words in their combined metadata (title, author, genres, description). This works well for obvious similarities but can miss deeper connections between books.

To address this, I built a separate recommendation engine using SBERT embeddings, which represent each book as a dense vector capturing its overall meaning. This approach allows the SBERT engine to suggest books that are conceptually similar, even if they don’t share many exact words, resulting in more diverse and relevant recommendations.

## Recommendations using SBERT

In [19]:
from sentence_transformers import SentenceTransformer

#load model2
model = SentenceTransformer("all-distilroberta-v1")

#calculate embeddings from combined column
recommendation_embeddings = model.encode(df['combined'].tolist(),       convert_to_tensor=True,show_progress_bar=True)
print(recommendation_embeddings.shape)

Batches:   0%|          | 0/282 [00:00<?, ?it/s]

torch.Size([9000, 768])

In [21]:
from sentence_transformers import util

#calculate embedding similarities
similarities = util.cos_sim(recommendation_embeddings,recommendation_embeddings)

In [126]:
import torch

#get similar book to user input

def get_sim_books(user_input,top_k = 4):
    found_books = book_search(user_input,df)

    if found_books.empty:
        return None,None

    #pick first match
    idx = found_books.index[0]
    chosen_book = df.loc[idx]
    matrix_idx = df.index.get_loc(idx)

   #get similarity scores for chosen book
    sim_scores = similarities[matrix_idx]

    #sort similarity scores descending
    sorted_sim_scores, sorted_indices = torch.sort(sim_scores, descending=True)

    #remove book itself
    nobook = sorted_indices != matrix_idx
    sorted_indices = sorted_indices[nobook]
    sorted_sim_scores = sorted_sim_scores[nobook]

    #convert to list and filter out too similar titles, keep top_k
    filtered_indices = [i for i in sorted_indices.tolist() if not is_too_similar(df.iloc[i]['Book'], chosen_book['Book'])
                        and share_genres(chosen_book['Genres'],df.iloc[i]['Genres'])]

    #filter the indices further: check if a book is mid-series and replace it, if possible, with the first book of the series
    final_indices = []
    for index in filtered_indices:
        if len(final_indices) == top_k:
            break
        title = df.iloc[index]['Book']
        original_title = find_first_book(title)
        associated_index = int(df.index[df['Book'] == original_title][0])
        if(associated_index not in final_indices):
            final_indices.append(associated_index)


    #get dataset entries corresponding to these indices
    similar_books = df.loc[final_indices]

    return similar_books, chosen_book

#main recommendation function
def recommend():
    user_input = input("Please enter your book title: ")
    print("You entered: ", user_input)
    similar_books, chosen_book = get_sim_books(user_input)

    if similar_books is None or chosen_book is None:
        print(f"No books found matching '{user_input}'")
        return

    book_title = chosen_book['Book']
    print(f"Because you enjoyed {book_title}, you might like one of the following books:")
    for i in range(len(similar_books)):
        print(f"- {similar_books.iloc[i]["Book"]} by {similar_books.iloc[i]["Author"]}")

In [133]:
recommend()

You entered:  harry potter
Because you enjoyed Harry Potter and the Philosopher’s Stone (Harry Potter, #1), you might like one of the following books:
- The Tales of Beedle the Bard by J.K. Rowling
- Magic Kingdom for Sale/Sold (Magic Kingdom of Landover, #1) by Terry Brooks
- Fantastic Beasts and Where to Find Them: The Original Screenplay (Fantastic Beasts: The Original Screenplay, #1) by J.K. Rowling
- A Hat Full of Sky (Discworld, #32; Tiffany Aching, #2) by Terry Pratchett

The recommendations include books that are either from the same universe/author (e.g., The Tales of Beedle the Bard, Fantastic Beasts) or share similar themes and target audience (e.g., Magic Kingdom for Sale/Sold, A Hat Full of Sky). This demonstrates that the recommendation engine considers both direct connections and broader thematic similarities, making the suggestions relevant even for readers who have already explored the main series.

In [45]:
import re

#obtain series number of a book, return none if there is no series number
def get_series_number(book_title):
    series_num = re.search(r'#(\d+)', book_title)
    if series_num:
        return int(series_num.group(1))
    return None

get_series_number('Harry Potter and the Half-Blood Prince (Harry Potter, #6)')

6

In [106]:
#choose first book in series
def find_first_book(book_title):
    series_num = get_series_number(book_title)

    if series_num is None or series_num == 1:
        return book_title

    #extract series title
    series_match = re.search(r'\((.*)#(\d+)\)', book_title)

    if not series_match:
        return book_title

    series_name = str(series_match.group(1))

    #find first book in series in dataset
    first_books = df[df['Book'].str.contains(series_name + '#1')]

    if not first_books.empty:
        return first_books.iloc[0]['Book']

    return book_title

In [129]:
find_first_book('Harry Potter and the Half-Blood Prince (Harry Potter, #6)')

'Harry Potter and the Philosopher’s Stone (Harry Potter, #1)'